@import "./_mixins.scss";
@import "./_variables";

body {
	color: var(--black);
	font-family: "Arimo", sans-serif;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
	text-decoration: none;
	color: #2c6ebe;
	transition: color 0.22s linear;

	&:hover {
		color: #206292;
	}
}

.mainContainer {
	@include container-1;

	padding: 0 var(--spacing-6);

	@media (min-width: $breakpoint-desktop) {
		padding: 0 var(--spacing-10);
	}
}

.flexCentered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexBottom {
	display: flex;
	align-items: flex-end;
}

.verticalCenter {
	display: flex;
	align-items: center;
}

.blockToFlexCentered {
	display: block;
}
@media (min-width: 768px) {
	.blockToFlexCentered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.blockToFlexLeft {
	display: block;
	justify-content: flex-start;
	align-items: center;
}
@media (min-width: 768px) {
	.blockToFlexLeft {
		display: flex;
	}
}

.flexCenteredToFlexLeft {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 992px) {
	.flexCenteredToFlexLeft {
		justify-content: flex-start;
	}
}

.flexCenteredToFlexRight {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 768px) {
	.flexCenteredToFlexRight {
		justify-content: flex-end;
	}
}

.flexCenteredUp {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.flexRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flexLeft {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexLeftUp {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flexCenteredToFlexTopLeft {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (min-width: 768px) {
	.flexCenteredToFlexTopLeft {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.flexWrapThenNoWrap {
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.flexWrapThenNoWrap {
		flex-wrap: nowrap;
	}
}

.inlineBlockToFlexLeft {
	display: inline-block;
}
@media (min-width: 768px) {
	.inlineBlockToFlexLeft {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}

.textAlignRight {
	text-align: right;
}

.textAlignCenter {
	text-align: center;
}

.textAlignleft {
	text-align: left;
}

.primaryHeaderWrapper {
	text-align: center;

	@media (min-width: 992px) {
		text-align: left;
	}
}

.plainLink {
	color: #333;
	text-decoration: none;
	display: inline-block;
}

.plainLink:link,
.plainLink:visited,
.plainLink:active {
	color: #333;
	text-decoration: none;
}

.plainLink:hover {
	text-decoration: underline;
}

.normalText {
	font-weight: normal;
}

.plainList {
	list-style-type: none;
}

.menuIsExpanded {
	height: 100%;
	overflow: hidden;
}

.noMargin {
	margin: 0;
}

.linkContainer {
	list-style: none;
	padding: 0;
	margin: var(--spacing-4) 0;

	li {
		margin: 0 0 var(--spacing-4) 0;

		@media (min-width: 768px) {
			margin-right: 2em;
			margin-bottom: 0;
		}

		@media (min-width: 992px) {
			margin-right: 3em;
		}
	}

	li:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}

	@media (min-width: 768px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media (min-width: 992px) {
		justify-content: flex-start;
	}
}

.linkIcon {
	position: relative;

	&:after {
		content: "";
		display: inline-block;
		$length: 0.22em;

		width: $length;
		height: $length;
		border-width: 3px;
		border-style: solid;

		border-color: #2c6ebe #2c6ebe transparent transparent;

		transform: rotate(45deg);

		transition: border-color 0.22s linear 0s;
		margin-left: 0.2em;
		margin-bottom: 1px;
		position: relative;
		left: 0;
		right: -$length;
	}

	&:hover:after {
		animation-name: bounce;
		animation-duration: 0.2s;
		animation-direction: alternate;
		animation-iteration-count: 2;
		border-color: #206292 #206292 transparent transparent;
	}

	@media (min-width: 992px) {
		&:after {
			width: 0.26em;
			height: 0.26em;
			width: 6px;
			height: 6px;
		}
	}
}

@keyframes bounce {
	from {
		left: 0;
	}

	to {
		left: 10px;
	}
}

.antiCollapsingMargins {
	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}
}

.code {
	font-family: monospace;
	padding: 0.3em 0.6em;
	background-color: #eee;
	white-space: nowrap;
}

.disabled {
	cursor: not-allowed;
}

.responsiveCanvas {
	/*This eliminates inconsistent rendering across browsers, canvas is supposed to be a block-level element across all browsers anyway*/
	display: block;

	/*myCanvas will inherit its CSS width and style property values from aWrapper*/
	width: 100%;
	height: 100%;
}

.main-container-full-width {
	padding: 8em 16px;
	border-bottom: 1px solid #eee;

	@media (min-width: $breakpoint-desktop) {
		padding: 9em 30px;
	}
}

.fullWidthContainerSmall {
	padding: 5em 16px;
	border-bottom: 1px solid #eee;

	@media (min-width: 768px) {
		padding: 5em 30px;
	}
}

.images {
	display: inline-block;
	margin: 0 auto;
	background-repeat: no-repeat;

	max-width: 100%;

	@media (min-width: 992px) {
		max-width: none;
	}
}

.hidden-heading {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.hero-header-text {
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	max-width: 525px;
	padding: 0;

	box-sizing: content-box;

	h2 {
		@include text-size-8;

		margin-bottom: var(--spacing-4);
	}

	p,
	a {
		@include text-size-5;
	}

	@media (min-width: 992px) {
		max-width: 575px;

		h2 {
			@include text-size-9;
		}

		p,
		a {
			@include text-size-6;
		}
	}
}
