$font-sizes: (12px, 14px, 16px, 18px, 20px, 24px, 30px, 35px, 45px, 60px, 72px);

$line-heights: (16px, 20px, 24px, 28px, 28px, 32px, 36px, 40px, 1, 1, 1);

$breakpoint-desktop: 992px;

$animation-duration: 0.2s;
