// TODO: Temporary colors
$primary-red: #d32f2f;
$primary-gray: #ddd;
$resume-breakpoint: 722px;
$resume-gray: #797979;
$resume-dark-gray: #666;

// TODO: Create utility classes to reduce the amount of styling rules in this file.
#resume {
	font-size: 11pt;
	max-width: 672px;
	margin: 0 auto;
	font-family: "Arimo", sans-serif;
	color: #222;
	padding: 48px 25px 100px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul {
		line-height: 1;
		margin: 0;
	}

	h1 {
		font-size: 1.85em;
		line-height: 0.8;
	}

	h2 {
		font-size: 1.35em;
	}

	h3 {
		font-size: 1.2em;
		margin-bottom: 8px;
	}

	h4 {
		font-size: 1em;

		span {
			color: $resume-dark-gray;
		}
	}

	header {
		margin-bottom: 48px;
		color: #666;

		h1 {
			color: #333;
			margin: 0rem 0 1.5rem;
		}

		.contact-information {
			display: grid;
			list-style: none;
			padding: 0;
			justify-content: start;
			align-items: center;
			font-size: 14px;
			color: #666;

			li {
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0.2em 0;
			}

			@media (min-width: $resume-breakpoint) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				justify-content: center;

				li {
					justify-content: center;
				}

				li:last-child {
					grid-column: 4;
					grid-column-end: 4;
				}
			}
		}
	}

	.resumeSection {
		font-size: 11pt;

		li,
		p {
			font-size: 11pt;
		}

		h2 {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			color: $primary-red;

			&:after {
				content: "";
				flex: 1;
				height: 1px;
				display: block;
				background: #dfdfdf;
				border-radius: 100%;
				margin-left: 16px;
			}
		}

		.flexSeparated {
			display: grid;

			p {
				margin: 0px 0 8px;
			}

			*:first-child {
				margin-right: auto;
			}

			*:nth-child(2) {
				font-style: oblique;
				color: $resume-gray;
			}

			@media (min-width: 500px) {
				grid-template-columns: 1fr 1fr;

				p {
					margin: 0;
					text-align: right;
				}
			}
		}
	}

	.separator {
		width: 95%;
		height: 1px;
		margin: 1.5em auto;
	}

	.flexSection {
		display: flex;

		h3,
		ul {
			margin: 10px 0;
		}

		> *:first-child {
			flex: 1;
			margin: 0;
			min-width: 80px;
		}

		&:first-of-type {
			ul,
			h3 {
				margin-top: 0;
			}
		}

		&:not(:first-child) {
			margin-top: 8px;
		}

		@media (min-width: $resume-breakpoint) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	#skillSection {
		.skillsContainer {
			margin-top: 0.5em;
			padding-left: 20px;

			.skillList {
				position: relative;
				line-height: 1.4;

				span {
					display: flex;
					align-items: center;
					position: relative;

					&:before {
						content: "";
						display: inline-block;
						width: 4px;
						height: 4px;
						border-radius: 100%;
						background-color: #aaa;
						position: absolute;
						top: 8px;
						left: -12px;
					}
				}
			}
		}

		.flexSection {
			flex-wrap: wrap;
			margin-top: 16px;
			display: grid;

			h4 {
				align-self: center;
			}

			@media (min-width: $resume-breakpoint) {
				grid-template-columns: 104px 1fr;
				gap: 24px;

				.skillsContainer {
					margin-top: 0;
					padding-left: 0;

					.skillList {
						line-height: 1.2;

						&:before {
							width: 0;
						}

						span {
							display: inline-flex;

							&:before {
								content: none;
							}

							&:not(:last-child):after {
								content: "";
								display: inline-block;
								height: 8px;
								width: 1px;
								background-color: #ccc;
								margin: 0 6px;
							}
						}
					}
				}
			}
		}
	}

	.flexCentered {
		position: relative;

		> *:last-child {
			position: absolute;
			height: 100%;
			right: 0;
			bottom: 4px;
			display: flex;
			align-items: flex-end;
			font-size: 11pt;
		}
	}

	.subSection {
		ul {
			list-style: none;
			line-height: 1.2;
			padding-left: 20px;

			li {
				position: relative;
				line-height: 1.4;

				&:before {
					content: "";
					display: inline-block;
					width: 4px;
					height: 4px;
					border-radius: 100%;
					background-color: #aaa;
					position: absolute;
					top: 8px;
					left: -12px;
				}

				&:not(:first-child) {
					margin: 8px 0;
				}

				@media (min-width: $resume-breakpoint) {
					line-height: 1.2;

					&:before {
						top: 6px;
					}
				}
			}
		}

		&:not(:first-child) {
			margin-top: 24px;
		}

		&:first-of-type {
			margin-top: 14px;
		}

		h4 {
			margin: 0 0 8px;
		}

		@media (min-width: $resume-breakpoint) {
			ul {
				padding-left: 40px;
			}
		}
	}

	.fas,
	.fab,
	.svg-inline--fa {
		margin-right: 6px;
		color: #888;
	}

	.fa-envelope {
		height: 12px;
	}

	.fa-github {
		height: 12px;
	}

	#workSection {
		h4 {
			font-weight: normal;
		}
	}

	@media (min-width: $resume-breakpoint) {
		padding: 72px 25px 100px;

		h1 {
			text-align: center;
		}
	}
}
