@use "../../sass/animations";
@use "../../sass/typography";
@use "../../sass/layout";

.app-header {
  height: 48px;
  background-color: #2b2b2b;
  background-color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  > div {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .logoContainer {
    flex: 0 1 85%;
  }

  #buttonWrapper {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 15%;
    position: relative;
    z-index: 99;

    #mobileButton {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      border: 1px solid transparent;
      background-color: transparent;
      padding: 0;
      cursor: pointer;

      > span {
        height: 18px;
        display: flex;
        align-items: flex-end;
      }

      #hamburgerWrapper {
        position: relative;
        bottom: 0;

        transition: bottom animations.$animation-duration ease-in-out;
      }

      .hamburgerIcon {
        display: block;
        width: 24px;
        height: 2px;
        background-color: white;

        transition: background-color animations.$animation-duration ease-in-out,
          transform animations.$animation-duration ease-in-out,
          opacity 0s ease-in-out animations.$animation-duration,
          margin-bottom animations.$animation-duration ease-in-out
            animations.$animation-duration;
      }

      .hamburgerIcon:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    #mobileButton:focus {
      outline: none;
    }
  }

  .portfolioLinks {
    box-sizing: border-box;
    list-style: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 48px);
    min-height: 510px;
    top: 48px;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    border-top: 1px solid #aaa;
    background-color: #333;
    z-index: 98;

    .menuItems {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 48px;
    }

    .menuItems:first-child {
      border-top: none;
      margin-top: var(--spacing-5);
    }
  }

  &.expanded {
    .portfolioLinks {
      opacity: 1;
      transition: opacity animations.$animation-duration ease-in;
    }

    #buttonWrapper #mobileButton {
      padding: 10px 0;

      #hamburgerWrapper {
        transition: bottom animations.$animation-duration ease-in-out
          animations.$animation-duration;
        bottom: calc(50% - 1px);
      }

      .hamburgerIcon {
        background-color: white;

        transition: background-color animations.$animation-duration ease-in-out,
          transform animations.$animation-duration ease-in-out
            animations.$animation-duration,
          opacity 0s ease-in-out animations.$animation-duration,
          margin-bottom animations.$animation-duration ease-in-out;
      }
      .hamburgerIcon:not(:last-child) {
        margin-bottom: -2px;
      }

      .hamburgerIcon:first-child {
        transform: rotate(45deg);
      }
      .hamburgerIcon:nth-child(2) {
        opacity: 0;
      }
      .hamburgerIcon:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &.collapsed {
    .portfolioLinks {
      transition: opacity animations.$animation-duration ease-in;
      pointer-events: none;
    }
  }

  @media (min-width: layout.$breakpoint-desktop) {
    .portfolioLinks {
      position: relative;
      height: 100%;
      width: 100%;
      min-height: auto;
      border-top: none;
      top: 0;
      transition: none;
      opacity: 1;
      max-width: 500px;
      margin: 0 auto;

      .menuItems {
        height: 100%;
        margin: 0;
      }

      .menuItems:first-child {
        margin-top: 0;
      }

      .secondaryMenuItem {
        position: absolute;
        right: 0;
        top: 0;
      }

      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    #buttonWrapper {
      display: none;
    }

    .logoContainer,
    .invis-aligner {
      flex: 0 1 20%;
    }
  }
}
