@use "sass/colors";
@use "sass/typography";
@use "sass/layout";
@use "sass/functions";
@use "sass/animations";

:root {
	// Colors
	--light-link-blue-1: hsl(200, 70%, 54%);
	--light-link-blue-2: hsl(200, 70%, 68%);
	--color-1: #{colors.$color-1};
	--color-1-dark: #{colors.$color-1-dark};
	--color-2: #{colors.$color-2};
	--color-2-dark: #{colors.$color-2-dark};
	--color-3: #{colors.$color-3};
	--color-3-dark: #{colors.$color-3-dark};
	--color-4: #{colors.$color-4};
	--color-4-dark: #{colors.$color-4-dark};
	--color-5: #{colors.$color-5};
	--color-5-dark: #{colors.$color-5-dark};
	--blue: #1976d2;
	--dark-blue: #004ba0;
	--light-blue: #63a4ff;
	--white: hsl(0, 0%, 100%);
	--gray: hsl(0, 0%, 46%);
	--light-gray: hsl(0, 0%, 70%);
	--border-light-gray: #dfdfdf;
	--black: hsl(0, 0%, 11%);
	--text-black: #{colors.$color-5};

	// Misc.
	--border-radius-1: 3px;
	--box-shadow-1: 2px 2px 5px 1px #{scale-color(
			colors.$color-5,
			$lightness: 80%
		)};
	--container-width-1: 1100px;

	// Spacing
	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-7: 28px;
	--spacing-8: 32px;
	--spacing-9: 36px;
	--spacing-10: 40px;
	--spacing-11: 44px;
	--spacing-12: 48px;
}

* {
	margin: 0;
	padding: 0;
}

a {
	$color: colors.$blue;

	text-decoration: none;
	color: $color;
	transition: color animations.$animation-duration linear;

	&:hover {
		color: functions.fixed-darken($color);
		text-decoration: underline;
	}

	&.dark {
		$color: colors.$blue-dark;

		color: $color;

		&:hover {
			color: functions.fixed-darken($color);
		}
	}
}

h1 {
	@include typography.text-size-8;
}

h2 {
	@include typography.text-size-7;
}

h3 {
	@include typography.text-size-6;
}

h4 {
	@include typography.text-size-5;
}

h5 {
	@include typography.text-size-4;
}

h6,
p,
a,
li {
	@include typography.text-size-3;
}

ol {
	padding-left: var(--spacing-8);
}

ul {
	list-style: none;
}

@media (min-width: layout.$breakpoint-desktop) {
	h1 {
		@include typography.text-size-9;
	}

	h2 {
		@include typography.text-size-8;
	}

	h3 {
		@include typography.text-size-7;
	}

	h4 {
		@include typography.text-size-6;
	}

	h5 {
		@include typography.text-size-5;
	}

	h6,
	p,
	a,
	li {
		@include typography.text-size-4;
	}

	ol {
		padding-left: var(--spacing-10);
	}
}

body {
	color: var(--black);
	font-family: "Arimo", sans-serif;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mainContainer {
	@include layout.container-1;

	padding: 0 var(--spacing-6);

	@media (min-width: layout.$breakpoint-desktop) {
		padding: 0 var(--spacing-10);
	}
}

.flexCentered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexBottom {
	display: flex;
	align-items: flex-end;
}

.verticalCenter {
	display: flex;
	align-items: center;
}

.blockToFlexCentered {
	display: block;
}
@media (min-width: 768px) {
	.blockToFlexCentered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.blockToFlexLeft {
	display: block;
	justify-content: flex-start;
	align-items: center;
}
@media (min-width: 768px) {
	.blockToFlexLeft {
		display: flex;
	}
}

.flexCenteredToFlexLeft {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 992px) {
	.flexCenteredToFlexLeft {
		justify-content: flex-start;
	}
}

.flexCenteredToFlexRight {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 768px) {
	.flexCenteredToFlexRight {
		justify-content: flex-end;
	}
}

.flexCenteredUp {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.flexRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flexLeft {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexLeftUp {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flexCenteredToFlexTopLeft {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (min-width: 768px) {
	.flexCenteredToFlexTopLeft {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.flexWrapThenNoWrap {
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.flexWrapThenNoWrap {
		flex-wrap: nowrap;
	}
}

.inlineBlockToFlexLeft {
	display: inline-block;
}
@media (min-width: 768px) {
	.inlineBlockToFlexLeft {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}

.textAlignRight {
	text-align: right;
}

.textAlignCenter {
	text-align: center;
}

.textAlignleft {
	text-align: left;
}

.primaryHeaderWrapper {
	text-align: center;

	@media (min-width: 992px) {
		text-align: left;
	}
}

.plainLink {
	color: #333;
	text-decoration: none;
	display: inline-block;
}

.plainLink:link,
.plainLink:visited,
.plainLink:active {
	color: #333;
	text-decoration: none;
}

.plainLink:hover {
	text-decoration: underline;
}

.normalText {
	font-weight: normal;
}

.plainList {
	list-style-type: none;
}

.menuIsExpanded {
	height: 100%;
	overflow: hidden;
}

.noMargin {
	margin: 0;
}

.linkContainer {
	list-style: none;
	padding: 0;
	margin: var(--spacing-4) 0;

	li {
		margin: 0 0 var(--spacing-4) 0;

		@media (min-width: 768px) {
			margin-right: 2em;
			margin-bottom: 0;
		}

		@media (min-width: 992px) {
			margin-right: 3em;
		}
	}

	li:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}

	@media (min-width: 768px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media (min-width: 992px) {
		justify-content: flex-start;
	}
}

.linkIcon {
	position: relative;

	&:after {
		content: "";
		display: inline-block;
		$length: 0.22em;

		width: $length;
		height: $length;
		border-width: 3px;
		border-style: solid;

		border-color: colors.$blue colors.$blue transparent transparent;
		transform: rotate(45deg);

		transition: border-color animations.$animation-duration linear;
		margin-left: 0.2em;
		margin-bottom: 1px;
		position: relative;
		left: 0;
		right: -$length;
	}

	&:hover:after {
		animation-name: bounce;
		animation-duration: animations.$animation-duration;
		animation-direction: alternate;
		animation-iteration-count: 2;
		border-color: colors.$blue-dark colors.$blue-dark transparent transparent;
	}

	@media (min-width: 992px) {
		&:after {
			width: 0.26em;
			height: 0.26em;
			width: 6px;
			height: 6px;
		}
	}
}

@keyframes bounce {
	from {
		left: 0;
	}

	to {
		left: 10px;
	}
}

.antiCollapsingMargins {
	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}
}

.code {
	font-family: monospace;
	padding: 0.3em 0.6em;
	background-color: #eee;
	white-space: nowrap;
}

.disabled {
	cursor: not-allowed;
}

.responsiveCanvas {
	/*This eliminates inconsistent rendering across browsers, canvas is supposed to be a block-level element across all browsers anyway*/
	display: block;

	/*myCanvas will inherit its CSS width and style property values from aWrapper*/
	width: 100%;
	height: 100%;
}

.main-container-full-width {
	padding: 8em 16px;
	border-bottom: 1px solid #eee;

	@media (min-width: layout.$breakpoint-desktop) {
		padding: 9em 30px;
	}
}

.fullWidthContainerSmall {
	padding: 5em 16px;
	border-bottom: 1px solid #eee;

	@media (min-width: 768px) {
		padding: 5em 30px;
	}
}

.images {
	display: inline-block;
	margin: 0 auto;
	background-repeat: no-repeat;

	max-width: 100%;

	@media (min-width: 992px) {
		max-width: none;
	}
}

.hidden-heading {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.hero-header-text {
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	max-width: 525px;
	padding: 0;

	box-sizing: content-box;

	h2 {
		@include typography.text-size-8;

		margin-bottom: var(--spacing-4);
	}

	p,
	a {
		@include typography.text-size-5;
	}

	@media (min-width: 992px) {
		max-width: 575px;

		h2 {
			@include typography.text-size-9;
		}

		p,
		a {
			@include typography.text-size-6;
		}
	}
}

.lightGray {
	color: #777;
}
.backgroundGray {
	background-color: #f8f8f8;
}
.codePurple {
	color: #c678dd;
}
.codeRed {
	color: #e06c75;
}
.codeGreen {
	color: #98c379;
}
.codeBlue {
	color: #61afef;
}
.codeTeal {
	color: #56b6c2;
}
.codeGray {
	color: #777;
}
.codeYellow {
	color: #e5c07b;
}
.codeOrange {
	color: #d19a66;
}
.darkBackground {
	background-color: #333;
	color: white;
}

.red {
	color: hsl(350, 100%, 50%);
}
